@use "sass:math";
.floatButton{
    background-color: var(--global-bg-color);
    width: 56px;
    height: 56px;
    border-radius: math.div(56px,2);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: var(--global-spacing-multiple-3);
    bottom: var(--global-spacing-multiple-3);
    Icon{
        width: 24px;
        height: 24px;
        fill: red;
    }
}