.form {
    padding: 16px;
  }

  .formLabel {
    display: block;
  }
  .formItem {
    min-height: var(--input-min-height);
    max-width: 100%;
    &.button {
      width: 100%;
    }
    &.input {
      flex-grow: 1;
      border: 1px solid #efefef;
      border-radius: var(--input-radius);
      font-size: 18px;
      font-family: inherit;
      padding-left: 16px;
      padding-right: 16px;
      &:focus{
        border: 1px solid var(--global-bg-color);
      }
    }
    &.select{
      border-radius: var(--input-radius);
      width: 20vw;
      height: 36px;
      flex-grow: 0;
      padding-left: 8px;
    }
    &_value {
      display: flex;
      margin: 8px 0;
      > * {
        flex-grow: 1;
      }
    }
    &_errorHint {
      color: var(--error-color);
      font-size: 12px;
    }
    &.mailInput{
      flex-grow: 0;
      width: 9em;
      margin-right: 12px;
    }
    &.mailButton{
      flex-grow: 0;
    }
  }