.mask{
    width: 100%;
    height: calc(100% - var(--global-spacing-multiple-3));
    position: fixed;
    top: var(--global-spacing-multiple-3);
    left: 0;
    z-index: var(--z-index-overlay);
    background-color: var(--global-mask-bgcolor);
}
.emai{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.overlay{
    z-index: calc(var(--z-index-overlay) + 1);
    background-color: var(--overlay-bg-color);
    height: calc(100% - var(--global-spacing-multiple-3));
    top: var(--global-spacing-multiple-3);
    position: fixed;
    left: 0;
    width: 15em;
    color: var(--color-333);
    .currentUser{
        background-color: var(--overlay-title-bg-color);
        padding: var(--global-spacing-multiple-2) var(--global-spacing-multiple-1);
        color: var(--overlay-text-color);
        p{
            opacity: 0.6;
        }
    }
    .action_list{
        padding: var(--global-spacing-multiple-2) var(--global-spacing-multiple-1);
        > li{
            padding: var(--global-spacing-multiple-1) 0;
            .router{
                display: flex;
                align-items: center;
                span{
                    font-size: var(--font-size3);
                    margin-left: var(--global-spacing-multiple-2);
                }
                .icon{
                    width: 28px;
                    height: 28px;
                }
            }
        }
    }
}