
.logo{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 40px;
    .icon{
        width: 128px;
        height: 72px;
    }
    .appName{
        font-size: 32px;
        color: var(--global-text-color);
    }
}
