.wrapper{
    height: calc(100vh - var(--welcome-nav-height));
    display: flex;
    flex-direction: column;
    margin-bottom: var(--welcome-nav-height);
    background-image: linear-gradient(to bottom, var(--welcome-card-bg-start) 0%, var(--welcome-card-bg-end) 100%);
    > header {
        margin-top: 6vh;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: var(--global-spacing-multiple-1);
        color: var(--global-text-color) 
        // > svg {
        //     width: 64px;
        //     height: 69px;
        // }
    }
    > main {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        position: relative;
        margin: var(--global-spacing-multiple-2);
    }
    > footer {
        flex-shrink: 0;
}
.logo{
    img{
        width: 96px;
    }
    }
    
}
.slide_fade_enter_active,
.slide_fade_leave_active {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-out;
}

.slide_fade_enter_from {
  transform: translateX(100vw);
}
.slide_fade_leave_to {
  transform: translateX(-100vw);
}