:root{
    //全局颜色
    --color-333:#333;
    --color-666:#666;
    --color-999:#999;
    --color-ef:#efefef;
    --danger-color:#FF3141;
    --warning-color:#FF8F1F;
    --success-color:#00B578;
    --primary-color:#FFCFE0;
    --default-color:#333;
    --global-text-color:#F06073;
    --global-bg-color:#FFCFE0;
    --global-bg-start:#FFCFE0;
    --global-bg-end:#FCD7D8;
    --global-bg-white:#fff6f8; 
    --global-minor-color:#00ADAB;
    --global-inferior-color:#6A4C4D;

    --error-color:red;
    //全局时间
    --transition-duration:500ms;
    //全局圆角
    --border-radius:8px;
    //全局浮层背景
    --global-mask-bgcolor: rgba(0, 0, 0, 0.5);
    //欢迎组件
    --welcome-card-bg-start: var(--global-bg-color);
    --welcome-card-bg-end:var(--global-bg-end);
    --welcome-card-bg:var(--global-bg-white);
    --welcome-text-color:var(--global-text-color);
    --welcome-nav-height:76px;
    --z-index-button:8;

    //浮层组件
    --z-index-overlay:16;
    --overlay-text-color: var(--global-text-color);
    --overlay-bg-color: var(--global-bg-white);
    --overlay-title-bg-color: var(--global-bg-start);

    //顶部组件
    --nav-text-color:var(--global-text-color);
    --nav-bg-color:var(--global-bg-color);
    //复制
    --main: var(--global-text-color);
    --tag-bg: #EFEFEF;
    --input-border-color: #efefef;
    --input-min-height: 32px;
    --input-radius: 8px;
    --input-shadow: rgba(0,0,0,0.25);;
    //全局间距
    --global-spacing-multiple-1:8px;
    --global-spacing-multiple-2:16px;
    --global-spacing-multiple-3:24px;
    --global-spacing-multiple-4:32px;
    --global-spacing-multiple-5:40px;

    //全局字体与行高
    --font-size1:14px;
    --font-size2:16px;
    --font-size3:20px;
    --font-size4:24px;
    --font-size5:30px;
    --font-size6:38px;
    --font-size7:46px;
    --font-size8:56px;
    --ling-hight1:22px;
    --ling-hight2:24px;
    --ling-hight3:28px;
    --ling-hight4:32px;
    --ling-hight5:38px;
    --ling-hight6:46px;
    --ling-hight7:54px;
    --ling-hight8:64px;
}
