:root{
    //欢迎页
    --welcome-card-bg-start:#FFCFE0;
    --welcome-card-bg-end:#FCD7D8;
    --welcome-card-bg:#FFEBF1;
    --welcome-text-color:#F06073;
    --welcome-nav-height:76px;
    --z-index-button:10;

    //全局变量
    --global-text-color:#FF7AB0;
    --global-spacing-multiple-1:8px;
    --global-spacing-multiple-2:16px;
    --global-spacing-multiple-3:24px;
    --global-spacing-multiple-4:32px;
    --global-spacing-multiple-5:40px;
}